@model Lab2.Models.Farmaco

@{
    ViewBag.Title = "Avanzada1";
}

<h2>Avanzada</h2>

<div>
    <h4>Farmaco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
